@font-face {
	font-family: 'Slimbach';
	src: url("../assets/fonts/SlimbachStd-BoldItalic.otf");
	font-weight: normal;
	font-style: normal;
	unicode-range: U+0020-007F;
}


:root {
  font-size: 17px;
  scroll-behavior: auto;
  scroll-behavior: smooth;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-navy: #255B81;
  --color-blue: #3F88BC;
  --color-grey0: #F1F1F1;
  --color-grey1: #707070;
  --color-green: #00B200;
  --color-orange: #FE9D00
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* $color-primary: #60964f;
$color-secondary: #000;
$color-third: #37352e;
$color-text: #707070;
$color-bg: #ffffff;
$color-white: #ffffff;
$color-grey0: #fafafa;
$color-grey1: #eeeeee;
$color-grey2: #b2b2b2;
$color-grey3: #707070;
$color-grey4: #d7d7d7;
$color-outline: #483ad1; */

body,
html {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  background: var(--color-light);
  color: var(--color-dark);
  font-style: normal;
}

/* Typography */
strong,
b {
  font-weight: 600;
}
em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.3em;
}
h1 {
  font-size: 3.8em;
  line-height: 1.1em;
  color: var(--color-dark);
}
h2 {
  font-size: 1.9em;
  color: var(--color-grey1);
}
h3 {
  font-size: 1.2em;
  color: var(--color-dark);
}
h4 {
  font-size: 1.5em;
  color: var(--color-grey1);
  line-height: 1.5em;
}
h5 {
  font-size: 0.8em;
  color: var(--color-grey1);
}

p {
  color: var(--color-grey1);
  font-size: 1.05em;
  margin: 1em 0;
  line-height: 1.5em;
}
.bold {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Buttons & links */
a:link,
a:visited {
  color: var(--color-blue);
}
a:hover {
  color: var(--color-dark);
  text-decoration: underline;
}
button {
  border-radius: 0.8rem;
  border: none;
  transition: all 0.2s;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none !important;
  text-align: center;
  color: red;
  color: var(--color-light);
  padding: 1rem 1.3rem;
}
button:hover {
  text-decoration: none;
  cursor: pointer;
}
button.--primary {
  background: black;
}
button:disabled {
  background: black;
  color: var(--color-light);
}
/* .btn --secondary {
  border: 1px solid $color-primary;
  border: 1px solid $color-grey2;
  color: $color-primary;
  background: none;
} */

/* Helpers */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
