@import './_reset.css';
@import './base.css';
@import './filter.css';
@import './responsive.css';

/* * {
  border: 1px solid red !important;
} */


.container {
  margin: 0 auto;
  padding: 3em;
  padding-top: 1em;
  max-width: 1100px;
  background: url('../assets/bg-pattern.png') no-repeat center bottom;
}

.mb {
  display: none;
}

ul {
  margin-top: 0.5em;
}
li {
  padding: 0.4em 0;
}

#hero {
  height: 100%;
  margin-bottom: 2em;
}

.hero-links ul {
  display: flex;
  background: var(--color-blue);
  border-radius: 1em;
  font-size: 1.2em;
  margin: 1.25em auto;
  justify-content: space-around;
  max-width: 18em;
}

.hero-links li {
  /* background: red; */
  text-decoration: none;
  padding: 1em 1em;
}

.hero-links li a {
  color: var(--color-light);
}

.hero-links li a:hover {
  color: var(--color-grey0);
}



.hero-header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.avatar {
  margin: 0 auto;
  object-fit: cover;
  background-size: cover;
  width: 8em;
  height: 8em;
  border: 1px solid var(--color-grey1);
  border-radius: 50%;
}


footer {
  display: flex;
  margin: 0 auto;
  color: var(--color-grey1);
  justify-content: center;
  align-items: center;
  height: 7em;
  background: url('../assets/bg-shadow@2x.png') no-repeat center top;
  background-size: 100%;
}
