@media screen and (max-width: 700px) {
  .container {
    padding: 3em !important;
  }

  h1.mb {
    display: block;
    margin-bottom: 0.1em;
  }

  h1.dt {
    display: none;
  }

  main {
    flex-direction: column;
    justify-content: space-between;
    height: 51em;
    overflow: visible;
  }

  main .chunk {
    font-size: 1.2em;
  }

  #hero .roles .category {
    display: flex;
    margin-bottom: 0.25em;
  }

  li {
    margin-top: 0.5em;
  }

  footer {
    background-size: 200% !important;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 15px;
  }
}
