@media screen and (max-width: 700px) {
  .container {
    padding: 1em !important;
  }

  h1.mb {
    display: block;
    margin-bottom: 0.1em;
  }

  h1.dt {
    display: none;
  }

  #work {
    width: 100%;
  }

 .grid-item {
  width: 90vw;
  height: calc(90vw);
 }

  footer {
    background-size: 200% !important;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 15px;
  }
}
